.crd {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.crd .body {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.crd .footer {
  padding: 1rem 2rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.crd .footer h1 {
  padding: 0;
  margin: 0;
}
